# Xcode
*.xcuserstate
*.xccheckout
*.moved-to-trash
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.d

# CocoaPods
Pods/
*.xcworkspace
Podfile.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# SwiftPM (if you switch later)
.build/
.swiftpm/

# Fastlane (if you add CI later)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

